header{
	background-color: black;
	color: white;
	text-align: center;
}
h1 {
  font-family: politica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
h2 {
  font-family: politica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 5px;
}
.para_right {
  float: right;
  padding-right: 400px;
  width: 400px;


}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#home_button{
  font-family: politica, sans-serif;
  font-weight: 400;
  font-style: normal;
  float: left;
  color: white;
  padding-top: 45px;
}

img {
  height: 300px;
  width: 320px;
}
